* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "hd"
    "main"
    "footer";
    background-color: whitesmoke;
}


a {
    text-decoration: none;
}

.header-container {
    grid-area: hd;
}

.main-container {
    grid-area: main;
    margin: 50px auto;
}

.footer-container {
    grid-area: footer;
    background-color: #1b4332;
}
/* Main nav-bar */

.nav-list {
    background-color: #40916c;
    box-shadow: 0 0 10px #40916c;
    border-radius: 0.2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin: 0 0.75rem;
    font-size: 0.85rem;
    letter-spacing: 1px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: #95D5B2;
}

/* .nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
} */

/* .nav-item:last-child {
    margin-left: 0;
} */

button {
    background: none;
    color: #1b4332;
    border: 2px solid;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
    
}

button:hover {
    border-color: #95D5B2;
    color: #95D5B2;
    box-shadow: 0 0.5em 0.5em -0.4em #95D5B2;
    transform: translateY(-0.25);
    cursor: pointer;
}

.banner {
    background-image: url("../images/sunset.jpeg");
    background-repeat: no-repeat;
    height: 9.375rem;
    background-size: cover;
    background-position: center;
}

.banner h1 {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 3.5rem;
}

.card-row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.card {
    width: 80%;
    background: #95D5B2;
    margin-bottom: 50px;
    transition: 0.5s;
    border-radius: 0.5rem;
}

.card-header {
    background-image: url("../images/mtbaldy.jpeg");
    background-size: cover;
    height: 200px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
}

.card-title {
    margin-bottom: 1rem;
}

.card-body .btn {
    display: block;
    color: #95D5B2;
    text-align: center;
    background: linear-gradient(to right, #40916c, #1b4332);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 0.5rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* footer section */

.footer-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 1rem 0;
}

.social-item {
    color: #40916c;
}

.copyright {
    color: #40916c;
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    .card {
        width: 40%;
    }
}

@media (min-width: 901px) {
    .main-container {
        width: 90%;
    }

    .card {
        width: 40%;
    }
}