@import url("navbar.css");
@import url("footer.css");
@import url("post.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #1b4332;
    width: 100vw;
    letter-spacing: 1px;
    line-height: 1.5;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "hd"
    "main"
    "footer";
    background-color: whitesmoke;
}

/* Home page banner */

.banner {
    background-image: url("../images/sunset.jpeg");
    background-repeat: no-repeat;
    height: 9.375rem;
    background-size: cover;
    background-position: center;
}

.banner h1 {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 3.5rem;
}

/* card blog section */

.main-container {
    grid-area: main;
    margin: 50px auto;
}

.card-row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.card {
    width: 80%;
    background: #95D5B2;
    margin-bottom: 50px;
    transition: 0.5s;
    border-radius: 0.5rem;
}

.card-header {
    background-image: url("../images/mtbaldy.jpeg");
    background-size: cover;
    height: 200px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
}

.card-title {
    margin-bottom: 1rem;
}

.card-body .btn {
    display: block;
    color: #95D5B2;
    text-align: center;
    background: linear-gradient(to right, #40916c, #1b4332);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 0.5rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}


/* media query */

@media (min-width: 600px) {
    .banner {
        background-image: url("../images/mtiron.jpeg");
    }

    .card {
        width: 40%;
    }
}

@media (min-width: 901px) {
    .main-container {
        width: 90%;
    }
}